header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #EE6C4D;
  height: 400px;
  width: 100%;
  color: white;
  background-image: url("https://www.transparenttextures.com/patterns/ag-square.png");
  margin-top: 120px;
}

.image {

}

.name h2 {
  margin-bottom: 0px;
  margin-top: 0px;
}
