nav {
  position: fixed;
  top: 0; /* used when position-fiexd read more on it */
  height: 120px;
  width: 100%;
  background-color: #3D5A80;
  color: #FFFFFF;
  font-family: 'Bungee';
  font-size: 24px;
  display: flex;
  justify-content: space-between;
}

.tweeter-title {
  padding: 1.5em;
}

.create-tweeter {
  padding: 1.5em;
  font-family: 'Source Sans Pro'
}