/* section container */
.container {
  margin-left: 5%;
  margin-right: 5%;
  justify-content: center;
}
.new-tweet {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-top: 5%;
}

.bottom-border {
  width: auto;
  border-bottom: solid;
  margin-bottom: 11px;
  border-width: 3px;
}

/* what are you humming about container */
.new-tweet-container {
  margin-bottom: 50px;
  margin-top: 5%;
  width: 100%;
}
.new-tweet-container > #new-tweet-compose {
  display: flex;
  flex-direction: column;
  margin-bottom: 11px;
}

.new-tweet-container > #tweet-input-text {
  font-family: 'Source Sans Pro';
  font-weight: bold;
}

/* tweet container */
.new-tweet-container > .tweet-btn-ctn {
  font-family: 'Bungee';
  display: flex;
  justify-content: space-between; 
  flex-direction: row;
}

#tweet-text {
  background-color: transparent;
  border: none;
  font-size: 0.75em;
  padding: 0;
  min-height: 1.2em;
  max-height: 5.0em;
  width: 100%;
  overflow-y: auto;
  /* rows: 1; */
  resize: none;
}

#tweet{
  background-color: #3D5A80 ;
  color: white;
}

@media only screen and (min-width: 1024px) {
  .main {
    display:flex;
    flex-direction: row;

  }
  .container{
    flex-grow:1;
  }

  .container > .new-tweet {
    display:flex;
    margin-top: 9em;
    flex-grow:1;
  }
  .container > #new-tweet-compose {
    display: flex;
    flex-grow: 1;
  } 
}