.tweet-container {
  border-width: 3px;
  border-style: solid;
  border-color: #333;
  padding: 1%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10%;
  box-shadow: 0 1px 2px #293241;
  transition: box-shadow 0.3s ease-in-out;
 
}
.tweet-container:hover {
  box-shadow: 5px 10px 8px #293241;
}

.tweet-user {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#tweet-image {
  width: 4%;
  padding-right: 5px;
  color: darkgray
}
#tweet-container-handle {
  color: lightgrey;
}

#post-time {
  font-size: 50%;
}

#tweet-container-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.icons {
  display: flex;
  flex-direction: row;
}

.icons .subicon {
  padding-right: 10px;
}

.icons .subicon:hover {
  padding-right: 10px;
  color: #98C1D9;
}